body {
  background-color: #f9f9f9 !important;
}
.clf-banner .check {
  background: #da2128;
  border-radius: 100px;
  border: none;
  min-width: 140px;
  width: 30%;
}
.form-search-visa {
  /* display: flex; */
}
.input-hor-group {
  width: 70%;
  min-width: 300px;
  margin-right: 15px;
}
.clf-banner .form-search-visa .input-hor-group #float-label .no-border {
  background: none;
}
.clf-banner .form-search-visa input.uikit_flinput{
  border-radius: 33px !important;
}
.clf-banner .form-search-visa {
  height: auto;
}
.parent-class.desktop {
  display: block;
}
.parent-class.mobile {
  display: none;
}
.input-mtc {
  margin-bottom: 10px;
}
.inner-form-search-visa {
  display: flex;
  width: 100%;
}
.list-benefit-relative .h{
  background: #EEFFF1;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  padding: 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #333333;
}
.list-xxx .ite{
  padding: 10px 0px;
}
.list-xxx{
  padding: 0px 15px;
  padding-bottom: 15px;
}
.Popover-body{
  min-width: 220px;
  background: #fff;
  box-shadow: rgba(24, 32, 79, 0.25) 0px 40px 80px, rgba(255, 255, 255, 0.5) 0px 0px 0px 0.5px inset;
}
.Popover-body .popsheader{
  background: #e4e4e4;
  padding: 10px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Popover-body .list-item{
    list-style: none;
}
.Popover-body .list-item .sx-item.active{
    color: #319745;
    background: #fafafa;
}
.Popover-body .list-item .sx-item{
  padding: 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #212121;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.Popover-body .list-item .sx-item:hover{
  color: #329945;
  background: #dddddd42;
}
.Popover-tipShape{
  fill: #e4e4e4!important;
}
.form-control.is-invalid, .was-validated .form-control:invalid  ~ label{
  color: #dc3545!important;
}
.form-control.is-invalid, .was-validated .form-control:invalid{
  border-color: #dc3545!important;
}
.form-control.is-invalid, .was-validated .form-control:invalid  ~ .icon, .was-validated .form-control:invalid  ~ .dropdown{
  display: none;
}
.form-control.is-invalid, .was-validated .form-control:invalid{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e")!important;
    background-repeat: no-repeat!important;
    background-position: right calc(.375em + .1875rem) center!important;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem)!important;
}
.cs_particles{
  position: absolute;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .parent-class.desktop {
    display: none;
  }
  .parent-class.mobile {
    display: block;
  }

  .top-head-banner {
    height: inherit !important;
  }
  .divpcard {
    width: 100% !important;
    height: auto !important;
    position: initial !important;
  }
  .top-head-banner .divcard {
    width: 100%;
    position: inherit !important;
    -ms-transform: initial !important;
    transform: initial !important;
    top: 0 !important;
    left: 0 !important;
  }
  .top-head-banner .parent-class {
    position: inherit !important;
    height: auto !important;
  }
  .clf-banner {
    padding: 15px !important;
    width: 100% !important;
    position: initial !important;
    top: 0;
    left: 0;
    -ms-transform: inherit !important;
    transform: inherit !important;
  }
  .clf-banner h3 {
    font-size: 18px !important;
    line-height: 27px !important;
  }
  .clf-banner h1 {
    font-size: 24px !important;
    line-height: 36px !important;
  }
  .clf-banner p {
    font-size: 14px !important;
    line-height: 21px !important;
  }
  .clf-banner .form-search-visa {
  }
  .clf-banner .form-search-visa {
    border-radius: 16px !important;
    padding: 24px 10px !important;
    display: block;
  }
  .input-hor-group {
    width: 100% !important;
    margin-right: 0px !important;
  }
  .clf-banner .check {
    width: 100% !important;
    margin-top: 15px;
  }
  #tsparticles {
    height: 50% !important;
  }
  .top-head-banner .topbanner-gb .row {
    display: contents !important;
  }
  .inner-form-search-visa {
    display: block;
  }
}
